// Global screen sizes
$screen-sm: 576px;  // Small tablets and large smartphones (landscape view)
$screen-md: 768px;  // Small tablets (portrait view)
$screen-lg: 992px;  // Tablets and small desktops
$screen-xl: 1200px; // Large tablets and desktops

:export {
  #{screenSm}: $screen-sm;
  #{screenMd}: $screen-md;
  #{screenLg}: $screen-lg;
  #{screenXl}: $screen-xl;
}
