@import '@styles/_constants';

// -----------------------------------------------------------------------------
// Screen Size Mixins
// -----------------------------------------------------------------------------


// Small devices
@mixin phone-only {
   @media (max-width: #{$screen-sm}) {
      @content;
   }
}

// Medium devices
@mixin tablet-landscape-down {
   @media (max-width: #{$screen-md}) {
      @content;
   }
}

@mixin tablet-landscape-up {
   @media (min-width: calc(1px + #{$screen-md})) {
      @content;
   }
}

// Large devices
@mixin sm-desktop-up {
   @media (min-width: #{$screen-lg}) {
      @content;
   }
}

// Extra large devices
@mixin desktop-up {
   @media (min-width: #{$screen-xl}) {
      @content;
   }
}

// Custom devices
@mixin custom-view-up($screen) {
   @media (min-width: $screen+'px') {
       @content;
   }
}
